h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
  }
div,li{
    font-family:Arial, Helvetica, sans-serif;
  }
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*Header*/
header{
    height: 100px;
    padding: 10px 0;
    width: 100%;
  }
.logo h4{
    color: white;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold
  }
.bg-dark{
    background-color:#132c33 !important;
    z-index: 1;
    font-size: 14px;
  }
.nav-link{
    color:#fff !important
  }
.nav-link:hover:not(.active a){
    color:#51c4d3 !important;
    font-size: 14.5px;
  }
.active a{
    color:#126e82 !important;
    font-weight: bold;
    cursor: default;
  }
.modal-title{
    margin: 0 auto;
  }
  /*Corps*/
.main{
    background-color: #dddddd;
    padding-bottom: 1%;
    margin-bottom: none;
  }
  .container-fluid h1{
    padding: 50px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: black;
  }
  /*Diaporama*/
.carousel-indicators li{
    background-color: black;
  }
.carousel-indicators .active{
    background-color: #126e82;
  }
  
  /* Footer */
  div.bordure {
    border-bottom:1px solid grey;
    }

  /* Mobile */
  @media screen and (max-width:540px) {
    body{
        background-image: none;
    }
    .cardL,.cardR, .cardBand{
        background: #fff; 
    }
    .main{
        margin-top: 17%;
    }
    .cardBand p{
        text-align: justify;
        padding: 2%;
    }
  
  }
  /* Tablette */
  @media screen and (min-width:541px) and (max-width:1024px) {
    body{
        background-image: none;
    }
    .main{
        margin-top: 15%;
    }
    .footer{
        margin-top: 5%;
    bottom: 0;
    position: absolute;
  }
    }
  